body {
  font-family: 'Bona Nova SC', serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/movie-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}
  
h1 {
  color: #333;
}

button {
  font-family: 'Bona Nova SC', serif;
  font-size: 16px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9c3;
  border: 2px solid #ccccccc4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
}

.quiz-container button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #0c5fb7;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.quiz-container button:hover {
  background-color: #0c5fb7;
  color: #fff;
}

.quiz-container button.correct {
  background-color: #3d8b40;
  color: #fff;
  border-color: #3d8b40;
}

.quiz-container button.incorrect {
  background-color: #a82c2c;
  color: #fff;
  border-color: #a82c2c;
}

.quiz-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.question-page .back-button {
  background-color: #0c5fb7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.question-page .back-button:hover {
  background-color: #0c427c;
}

.time-green {
  color: green;
  font-weight: bold;
}

.time-red {
  color: red;
  font-weight: bold;
}

.start-page,
.result-page {
  text-align: center;
}

.result-page {
  padding: 0px 50px;
}

.start-page button {
  gap: 15px;
  margin-top: 20px; 
  background-color: #a82c2c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-page button:hover {
  background-color: #872525;
}

.start-page button {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.button-icon {
  width: 24px;
  height: 24px; 
  filter: invert(1);
}

.result-page .button-container {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
}

.result-page .restart-button,
.result-page .start-button {
  white-space: nowrap; 
  width: auto; 
  min-width: 120px; 
  text-align: center;
}

.result-page .restart-button {
  background-color: #3d8b40; 
  color: white;
  border: none;
  border-radius: 5px;
}

.result-page .restart-button:hover {
  background-color: #2c662e; 
}

.result-page .start-button {
  background-color: #a82c2c; 
  color: white;
  border: none;
  border-radius: 5px;
}

.result-page .start-button:hover {
  background-color: #872525; 
}