body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/movie-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}
  
h1 {
  color: #333;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
}

.quiz-container button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #007BFF;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.quiz-container button:hover {
  background-color: #007BFF;
  color: #fff;
}

.quiz-container button.correct {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
}

.quiz-container button.incorrect {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

.quiz-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.back-button {
  margin-top: 15px; 
  padding: 6px 12px; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  width: auto; 
  align-self: center; 
}

.back-button:hover {
  background-color: #0056b3;
}

.time-green {
  color: green;
  font-weight: bold;
}

.time-red {
  color: red;
  font-weight: bold;
}

.start-page,
.result-page {
  text-align: center;
}

.result-page {
  padding: 0px 50px;
}

.start-page button,
.result-page button {
  gap: 15px;
  margin-top: 20px; 
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-page button:hover,
.result-page button:hover {
  background-color: #45a049;
}